.container-search-bar{
	position:relative;
	text-align: center;
	margin: 50px 0;
	font-size: 0;
    /* outline: 1px solid black; */
}
.videoList{
    display: inline-block;
    outline: 1px solid black;
    text-align: center;
    margin: 50px;
}
.videoList iframe{
    display: block; /*for centering iFrame with div text-align*/
    width: 300px;
    height: 200px;
    /*margin: 0 auto;*/
        /*outline: 1px solid green;*/
}