<!--
    - username
    - password
    - email

     -->

<h1>Register</h1>
<div class="container_register">
    
    <form class="form_register" ng-submit="register()">
        <ul>
            <li><input type="text" ng-model="regInfo.name" placeholder="username" required/></li>
            <div ng-show="usernameExist" class="errorMessage">Username already exist, try a different one</div>
            <li><input type="text" ng-model="regInfoLogin.password" placeholder="password" id="password" required/></li>
            <li><input type="email" ng-model="regInfo.email" placeholder="email" required/></li>
            <div ng-show="emailExist" class="errorMessage">Email already exist, try a different one</div>
            <input type="submit" class="btn btn-primary" value="Register" />            
            <br />
        </ul>
    </form>
</div>