<!--
    - username
    - password
    - email

     -->

<h1>Register</h1>
<div class="container_register">
    
    <form id="form_register" name="registration" class="form_register" ng-submit="register()">
        <ul>
            <li><input type="text" ng-model="regInfo.username" placeholder="username" id="username"/></li>
            <li><input type="password" ng-model="regInfo.password" placeholder="password" id="password"/></li>
            <li><input type="password" ng-model="regInfo.password_confirm" placeholder="password confirm" id="password_confirm"/></li>
            <li><input type="email" ng-model="regInfo.email" placeholder="email" id="email"/></li>
            <input type="submit" class="btn btn-primary" value="Register" />            
            <br />
        </ul>
    </form>
</div>