<div class="container_header-login">
    <div data-ng-if="!login[0].loggedin">
        <form ng-submit="confirm()">
            <input type="text" ng-model="username.name" placeholder="username" />
            <input type="password" ng-model="password.pass" placeholder="password" />
            <br />
            <input type="submit" class="btn btn-primary" value="Login" />
            <div ng-show="wrongUserOrPass" class="errorMessage">Incorrect username or password</div>
        </form>

        <!--<input type="text" ng-model="username.name"></input>
        <input type="button" ng-click="btn()"></input>-->
        <a href="#/register">Register</a>
    </div>
    <div data-ng-if="login[0].loggedin" class="loggedInMessage">
        <p>Logged in as  </p><a href="#/user_info">{{login[0].username}}</a>
    </div>
</div>


<!--!login.opLogin-->