<div class="container_header-login">
	<div data-ng-if="!login.opLogin">
<!--         <form ng-submit="submit()">
            <input type="text" ng-model="username" placeholder="username/email" />
            <input type="text" ng-model="scope.password" placeholder="password" />
            <br />
            <input type="submit" class="btn btn-primary" value="Login"/>
        </form> -->
		<input type="text" ng-model="username.name"></input>{{username}}
		<input type="button" ng-click="btn()"></input>
        <a href="#">Register</a>            
        <a href="#">Forgot password</a>	
	</div>
    <div data-ng-if="login.opLogin">
        <!--{{login.opLogin}}-->
        Logged in as
	</div>
</div>
